# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fintech
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=fintech

# Pipeline
DATA_RAW_PATH=/app/data/raw
LOG_LEVEL=INFO
FECHA_CORTE=auto

# pgAdmin (opcional)
PGADMIN_EMAIL=admin@fintech.com
PGADMIN_PASSWORD=admin
