# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=tumipay
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=changeme

# Pipeline
DATA_RAW_PATH=/app/data/raw
LOG_LEVEL=INFO
FECHA_CORTE=auto

# pgAdmin (opcional)
PGADMIN_EMAIL=admin@tumipay.local
PGADMIN_PASSWORD=admin
